.photo{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.containerr{
    height: 500px;
    background-image: url('../assets//images/back3.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    opacity: 2;
    transform: translate3d(0px, 0px, 0px);
}
h2{
    color:white;
    font-weight: bold;
    
}
h5{
    font-weight: 700;
    color: white;
}